/*************************************************************************/
/* START VARIABLE                                                        */
/*************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --effect-1: 500ms ease;
  --effect-2: all .3s ease-in-out;
  --defaut-font: 'Outfit', sans-serif;
  --defaut-color: #333333;
  --col-white: hsl(0, 0%, 100%);
  --col-light-gray: hsl(212, 45%, 89%);
  --col-grayish-blue: hsl(220, 15%, 55%);
  --col-dark-blue: hsl(218, 44%, 22%);
  --box-sha:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/*************************************************************************/
/* END VARIABLE                                                          */
/*************************************************************************/
/*************************************************************************/
/* START BASIC RESET                                                     */
/*************************************************************************/
html {
  color: var(--defaut-color);
  background: var(--col-light-gray);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, tr, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: normal;
  font-weight: normal;
}

del, ins {
  text-decoration: none;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

abbr {
  cursor: help;
}

label {
  cursor: pointer;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
  color: var(--defaut-color);
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
  *font-size: 100%;
}

img {
  vertical-align: top;
}

ol, ul {
  list-style: none;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

figure {
  margin: 0;
  text-align: center;
  line-height: 1;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

dt, dd {
  line-height: 1.7;
}

th, td {
  border: 1px solid;
  padding: 1em;
}

th {
  font-weight: bold;
  text-align: center;
}

caption {
  padding-bottom: .5em;
  text-align: left;
}

dfn {
  font-style: normal;
}

address {
  font-style: normal;
  line-height: 1.0;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*************************************************************************/
/* END BASIC RESET                                                       */
/*************************************************************************/
/*************************************************************************/
/* START FONTS SETUP                                                     */
/*************************************************************************/
body {
  font-family: var(--defaut-font);
  font-size: 15px;
  color: var(--defaut-color);
  line-height: 2;
  letter-spacing: .1em;
  font-weight: normal;
}

html {
  -webkit-text-size-adjust: none;
}

html > body {
  font-size: 15px;
}

select {
  font-family: var(--defaut-font);
  font-size: 100%;
  color: var(--defaut-color);
  line-height: 1.5;
  font-size: 100%;
}

input {
  font-family: var(--defaut-font);
  font-size: 100%;
  color: var(--defaut-color);
  line-height: 1.5;
  font-size: 100%;
}

button {
  font-family: var(--defaut-font);
  font-size: 100%;
  color: var(--defaut-color);
  line-height: 1.5;
  font-size: 100%;
}

textarea {
  font-family: var(--defaut-font);
  font-size: 100%;
  color: var(--defaut-color);
  line-height: 1.5;
  font-size: 100%;
}

table {
  font-size: inherit;
}

pre {
  font-family: var(--defaut-font);
  font-size: 100%;
  *font-size: 108%;
  line-height: 1.5;
  color: var(--defaut-color);
  font-size: 100%;
}

code {
  font-family: var(--defaut-font);
  font-size: 100%;
  *font-size: 108%;
  line-height: 1.5;
  color: var(--defaut-color);
}

kbd {
  font-family: var(--defaut-font);
  font-size: 100%;
  *font-size: 108%;
  line-height: 1.5;
  color: var(--defaut-color);
}

samp {
  font-family: var(--defaut-font);
  font-size: 100%;
  *font-size: 108%;
  line-height: 1.5;
  color: var(--defaut-color);
}

tt {
  font-family: var(--defaut-font);
  font-size: 100%;
  *font-size: 108%;
  line-height: 1.5;
  color: var(--defaut-color);
}

li {
  font-size: 100%;
}

li li {
  font-size: 100%;
}

li dt {
  font-size: 100%;
}

li dd {
  font-size: 100%;
}

li input {
  font-size: 100%;
}

li select {
  font-size: 100%;
}

li button {
  font-size: 100%;
}

li textarea {
  font-size: 100%;
}

li p {
  font-size: 100%;
}

li th {
  font-size: 100%;
}

li td {
  font-size: 100%;
}

dt {
  font-size: 100%;
}

dt li {
  font-size: 100%;
}

dt dt {
  font-size: 100%;
}

dt dd {
  font-size: 100%;
}

dt input {
  font-size: 100%;
}

dt select {
  font-size: 100%;
}

dt button {
  font-size: 100%;
}

dt textarea {
  font-size: 100%;
}

dt p {
  font-size: 100%;
}

dt th {
  font-size: 100%;
}

dt td {
  font-size: 100%;
}

dd {
  font-size: 100%;
}

dd li {
  font-size: 100%;
}

dd dt {
  font-size: 100%;
}

dd dd {
  font-size: 100%;
}

dd input {
  font-size: 100%;
}

dd select {
  font-size: 100%;
}

dd button {
  font-size: 100%;
}

dd textarea {
  font-size: 100%;
}

dd p {
  font-size: 100%;
}

dd th {
  font-size: 100%;
}

dd td {
  font-size: 100%;
}

th {
  font-size: 100%;
}

th li {
  font-size: 100%;
}

th dt {
  font-size: 100%;
}

th dd {
  font-size: 100%;
}

th input {
  font-size: 100%;
}

th select {
  font-size: 100%;
}

th button {
  font-size: 100%;
}

th textarea {
  font-size: 100%;
}

th p {
  font-size: 100%;
}

th th {
  font-size: 100%;
}

th td {
  font-size: 100%;
}

td {
  font-size: 100%;
}

td li {
  font-size: 100%;
}

td dt {
  font-size: 100%;
}

td dd {
  font-size: 100%;
}

td input {
  font-size: 100%;
}

td select {
  font-size: 100%;
}

td button {
  font-size: 100%;
}

td textarea {
  font-size: 100%;
}

td p {
  font-size: 100%;
}

td th {
  font-size: 100%;
}

td td {
  font-size: 100%;
}

p {
  font-size: 100%;
}

p input {
  font-size: 100%;
}

h1 {
  font-size: 100%;
}

h2 {
  font-size: 100%;
}

h3 {
  font-size: 100%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 100%;
}

blockquote {
  font-size: 100%;
}

address {
  font-size: 100%;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  html > body {
    font-size: 13px;
  }
}

/*************************************************************************/
/* END FONTS SETUP                                                       */
/*************************************************************************/
/*************************************************************************/
/* START UTILITIES                                                       */
/*************************************************************************/
@media only screen and (max-width: 768px) {
  .pc_only {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .sp_only {
    display: none !important;
  }
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*************************************************************************/
/* END UTILITIES                                                         */
/*************************************************************************/
/*************************************************************************/
/* START LAYOUT                                                          */
/*************************************************************************/
.container-lg {
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
  .container-lg {
    max-width: none;
    padding-left: 28px;
    padding-right: 28px;
  }
}

/*************************************************************************/
/* END LAYOUT                                                            */
/*************************************************************************/
/*************************************************************************/
/* START MAIN CONTENTS CSS FOR PC                                        */
/*************************************************************************/
.container-lg {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qr-box {
  --boxradius: 20px;
  --imgradius: 10px;
  background-color: var(--col-white);
  padding: 16px;
  width: 320px;
  height: auto;
  border-radius: var(--boxradius);
  -webkit-box-shadow: var(--box-sha);
          box-shadow: var(--box-sha);
}

.qr-box__image img {
  border-radius: var(--imgradius);
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.qr-box__title {
  margin-top: 26px;
  padding: 0 10px;
}

.qr-box__title h4 {
  font-size: 1.46667em;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: center;
  color: var(--col-dark-blue);
  font-weight: bold;
}

.qr-box__paragraph {
  margin-top: 16px;
  padding: 0 10px 24px;
}

.qr-box__paragraph p {
  font-size: 1em;
  color: var(--col-grayish-blue);
  text-align: center;
  letter-spacing: .01em;
  line-height: 1.3;
}

/*************************************************************************/
/* END MAIN CONTENTS CSS FOR PC                                         */
/*************************************************************************/
/*
*
*
*
*
*
*
*
*
*
*
*/
/*************************************************************************/
/* START MAIN CONTENTS CSS FOR TABLET AND SP                             */
/*************************************************************************/
@media only screen and (max-width: 375px) {
  .qr-box {
    --boxradius: 16px;
    width: 100%;
  }
}

/*************************************************************************/
/* END MAIN CONTENTS CSS FOR TABLET AND SP                                */
/*************************************************************************/
